  <button type="button" (click)="prev()" [disabled]="offset <= 0">
    Prev
  </button>
  <button type="button" (click)="next()">
    Next
  </button>

  <div id="search-component">
    <h4>Library Search</h4>
  
    <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
  
    <ul class="search-result">
      <li *ngFor="let l of library$ | async" >
        <a routerLink="/library/{{l.id}}">
          {{library.firstname}}
        </a>
      </li>
    </ul>
  </div>

<ul class="library">
  <li *ngFor="let l of library">
    <a [routerLink]="[ '/library', l.id ]">
      <span class="badge">Title: {{ l.title }}</span>
      <span class="badge">Author: {{ l.author_firstname }} {{ l.author_lastname }}</span>
    </a>
  </li>
</ul>