<div id="search-component">
    <h4>Library Search</h4>
  
    <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
  
    <ul class="search-result">
      <li *ngFor="let l of library$ | async" >
        <a routerLink="/library/{{l.id}}">
          {{library.firstname}}
        </a>
      </li>
    </ul>
  </div>