<!--
INSERT INTO `books` (`id`, `author_lastname`, `author_firstname`, `title`, `cover_thumbnail`, `modified_date`, `created_date`, `is_deleted`) VALUES
-->
<table>
  <tr>
    <td></td>
    <td>
      <button type="button" (click)="prev()">Prev</button>
      <button type="button" (click)="next()">Next</button>
    </td>
  </tr>
  <tr><td>ID:</td>
    <td>{{ library['id']}}</td></tr>
  <tr><td>Author Last Name:</td>
    <td>{{ library['author_lastname']}}</td></tr>
  <tr><td>Author First Name:</td>
    <td>{{ library['author_firstname']}}</td></tr>
  <tr><td>Title:</td>
    <td>{{ library['title']}}</td></tr>
  <tr><td>Cover Thumbnail:</td>
    <td>{{ library['cover_thumbnail']}}</td></tr>
    <tr><td>
      <img src="../../assets/thumbnails/{{ library['cover_thumbnail']}}" alt="{{ library['cover_thumbnail']}}" width="128">
    </td></tr>
  <tr>
    <td></td>
    <td>
      <button type="button" (click)="goBack()">
        Back
      </button>
    </td>
  </tr>
</table>